{% extends 'navbar.html' %}

{% block content %}
<div class='px-36 py-6 pt-24'>
    <div class='space-y-9'>
        <div class='flex items-center justify-between pr-11'>
            <div class='space-y-6 '>
                <h1 class='text-6xl font-semibold'>{{blog.heading}}</h1>
                <h1 class='text-5xl text-neutral-800'>{{blog.sub_heading}}</h1>
            </div>
            <div class='flex flex-col items-end w-1/4'>
                <div class='flex items-center py-1 gap-2 cursor-pointer'>
                    <img src={{blog.user.user_profile.profile_pic}} alt=""
                        class='w-9 h-9 rounded-full object-cover' />
                    <h1 class='text- rounded-full'>{{blog.user.user_profile.first_name}}
                        {{blog.user.user_profile.last_name}}</h1>
                </div>
                <p class='text-sm font-semibold text-gray-600'>Published in {{blog.created_at }}</p>
            </div>
        </div>
        <div id="interactions" class='text-lg flex gap-4 border-b border-t border-gray-100 py-1' data-blog-id="{{ blog.id }}" data-liked="{{ blog.is_liked|lower }}" data-disliked="{{ blog.is_disliked|lower }}">
            <div class='flex items-center gap-1 cursor-pointer'  onclick="handleLike(this)">
                {% if blog.is_liked %}
                <i id="like-icon" class="ri-thumb-up-fill text-lime-500"></i>
                {%else%}
                <i id="like-icon" class="ri-thumb-up-line text-lime-500 text-lg"></i>
                {% endif %}
                <p id="like-count" class='text-gray-600'>{{blog.like_count}}</p>
            </div>
            <div class='flex items-center gap-1 cursor-pointer' onclick="handleDislike(this)">
                {% if blog.is_disliked %}
                <i id="dislike-icon" class="ri-thumb-down-fill text-gray-400"></i>
                {% else %}
                <i id="dislike-icon" class="ri-thumb-down-line text-gray-400 text-lg"></i>
                {% endif %}
                <p id="dislike-count" class='text-gray-600'>{{blog.unlike_count}}</p>
            </div>
            <div class='flex items-center gap-1 cursor-pointer'>
                <i class="ri-chat-3-line text-lg"></i>
                <p class='text-gray-600'>{{blog.comments_count}}</p>
            </div>
        </div>
        <div class='space-y-5'>
            <div class='w-full h-[35rem] flex justify-center overflow-hidden'>
                <img src={{blog.image}} alt="" class='object-cover w-3/4' />
            </div>
            <p>{{blog.body}}</p>
        </div>
        <div class='px-3 space-y-2'>
            <div class='flex gap-2 items-center text-neutral-600'>
                <FaComments class='text-2xl' />
                <h1 class='text-lg font-semibold'>All comments</h1>
            </div>
            <div class='rounded-lg flex'>
                <div class=' w-full px- py-4 space-y-3'>
                    {% if is_authenticated %}
                        <div class='bg-white rounded-lg py-6 px-4 shadow-lg space-y-2'>
                            <div class='flex items-center gap-2'>
                                <img src={{user.user_profile.profile_pic}} alt="" class='w-9 h-9 object-cover rounded-full'/>
                                <h1 class='font-semibold'>{{user.user_profile.first_name}} {{user.user_profile.last_name}}</h1>
                            </div>
                            <form method="POST" action="{% url 'comment-create' %}">
                                {% csrf_token %}
                                <input type="hidden" name="blog_id" value="{{ blog.id }}">
                                <textarea name="comment" id="" placeholder='What are your thoughts?' class='p-2 w-full outline-none bg-transparent rounded' ></textarea>
                                <div class='w-full text-end'>
                                    <button type="submit" class='py-1 px-4 bg-lime-600 rounded-full text-white font-semibold' onClick={handleSubmit}>Respond</button>
                                </div>
                            </form>
                        </div>
                    {% endif %}
                    {% for comment in blog.comments %}
                    <div class='space-y-6 py-4 px-9 '>
                        <div class='space-y-4'>
                            <div class='flex gap-3'>
                                <img src={{comment.user.user_profile.profile_pic}} alt=""
                                    class='w-11 h-11 object-cover rounded-full' />
                                <div>
                                    <h1 class='font-semibold'>{{comment.user.user_profile.first_name}}
                                        {{comment.user.user_profile.last_name}}</h1>
                                    <p class='text-sm text-gray-500 '>{{comment.time_ago}}</p>
                                </div>
                            </div>
                            <p class='font-medium px-14'>{{comment.comment}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
    // function fetchBlogDetail(blogId) {
    //     // Replace with the actual URL that handles the GET request
    //     window.location.href = `/blog/${blogId}/`;
    // }

    const handleLike = (element)=>{
        const interactions = element.closest('#interactions')
        const blogId = interactions.dataset.blogId;
        const isLiked = interactions.dataset.liked === "true";
        const isDisliked = interactions.dataset.disliked === "true";

        console.log(blogId, isLiked, isDisliked, 'interactionsss');
        
        const data = {
            'blog_id' : blogId,
            'is_liked': isLiked? false : true,
            'is_disliked':isDisliked===null?false:isDisliked&& false,
        }
        console.log(data, 'lloo data')

        fetch('/blog/interactions/', {
            method:'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
        })
        .then(response => {
            console.log(response, 'res')
            
            if (!response.ok) {
                return response.json().then(err => { throw err; });
            }
            if (response.status === 401){
                showToast('please login.', 'error')
                return
            }
            return response.json();
        })
        .then(data => {
            document.getElementById('like-count').textContent = data.like_count;
            document.getElementById('dislike-count').textContent = data.unlike_count;

            const icon = element.querySelector('#like-icon');
            const dis_icon = element.closest('#interactions').querySelector('#dislike-icon');

            const interactions = element.closest('#interactions')

            console.log(dis_icon, 'dis', icon);
            

        if (data.is_liked) {
            icon.classList.remove('ri-thumb-up-line');
            icon.classList.add('ri-thumb-up-fill');
        }else {
            icon.classList.remove('ri-thumb-up-fill');  
            icon.classList.add('ri-thumb-up-line');       
        }
        dis_icon.classList.add('ri-thumb-down-line');  
        dis_icon.classList.remove('ri-thumb-down-fill');  
        interactions.dataset.liked = data.is_liked;
        interactions.dataset.disliked = data.is_disliked;
        })
        .catch(error => {
            console.error('Error:', error)
        });
    }

    const handleDislike = (element)=>{
        const interactions = element.closest('#interactions')

        const blogId = interactions.dataset.blogId;
        const isLiked = interactions.dataset.liked === "true";
        const isDisliked = interactions.dataset.disliked === "true";
        const data = {
            'blog_id' : blogId,
            'is_liked': isLiked===null?false:isLiked&& false,
            'is_disliked':isDisliked? false:true,
        }

        fetch('/blog/interactions/', {
            method:'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
        })
        .then(response => {
            if (!response.ok) {
                return response.json().then(err => { throw err; });
            }
            return response.json()
        })
        .then(data => {
            console.log(data, 'data')
            document.getElementById('dislike-count').textContent = data.unlike_count;
            document.getElementById('like-count').textContent = data.like_count;
            const icon = element.querySelector('#dislike-icon');
            const like_icon = element.closest('#interactions').querySelector('#like-icon');
            const interactions = element.closest('#interactions')

            if (data.is_disliked) {
                icon.classList.remove('ri-thumb-down-line');
                icon.classList.add('ri-thumb-down-fill');
            }else {
                icon.classList.remove('ri-thumb-down-fill');  
                icon.classList.add('ri-thumb-down-line');
            }
            like_icon.classList.add('ri-thumb-up-line');  
            like_icon.classList.remove('ri-thumb-up-fill');
            interactions.dataset.liked = data.is_liked;
            interactions.dataset.disliked = data.is_disliked;
        })
        .catch(error => {
            console.error('Error:', error)
        });
    }
</script>
{% endblock scripts %}