{% extends 'base.html' %}

{% block navbar %}

<div id="signin-modal" class='fixed h-screen w-screen z-20 bg-[#5454548f] hidden'>
    <div class='w-full mt-24 flex justify-center'>
      <div class='w-1/4 h-full bg-white rounded-lg p-3 shadow-2xl'>
          <div class="flex justify-end">
              <button class="text-gray-500 hover:text-gray-700 transition-colors" onclick="closePopup()">
                <i class="ri-close-large-line text-xl"></i>
              </button>
          </div>
          <div class='flex flex-col gap-11 px-6 py-14'>
              <h1 class='text-3xl text-center'>Sign In</h1>
              <form onsubmit="event.preventDefault(); signinSubmit()">
                  <h1 class='mb-1 text-sm text-gray-900'>Your Email</h1>
                  <input type="email" id="email" class='outline-none border px-2 py-2 w-full rounded mb-4'/>
                  <h1 class='mb-1 text-sm text-gray-900'>Password</h1>
                  <input type="password" id="password" class='outline-none border px-2 py-2 w-full rounded mb-0.5'/>
                  <p class='text-end w-full mb-4 text-xs cursor-pointer hover:underline'>Forgot Password?</p>
                  <div>
                      <button type="submit" class='bg-lime-700 w-full py-1.5 rounded-full text-white font-semibold hover:bg-lime-800'>Sign In</button>
                  </div>
              </form>
        </div>
      </div>
    </div>
  </div>

  <div id="popup-menu" class="hidden fixed right-11 mt-16 z-20 w-60 bg-white border border-gray-200 rounded-lg shadow-lg py-2">
    <div class="flex items-center px-4 py-3 hover:underline cursor-pointer transition-colors duration-200" onclick="navigateToProfile()">
        <i class="ri-user-fill text-xl text-gray-600 mr-3"></i>
        <span class="text-sm text-gray-700">Profile</span>
    </div>
    <div class="flex items-center px-4 py-3 hover:underline cursor-pointer transition-colors duration-200" onclick="signOut()">
        <i class="ri-logout-box-line text-xl text-gray-600 mr-3"></i>
        <span class="text-sm text-gray-700">Sign Out</span>
    </div>
</div>  

<div class="bg-white shadow-md w-full z-10 h-20 flex justify-between items-center px-11 fixed">
    <a href="/home/" class="cursor-pointer font-semibold">BLOG APPLICATION</a>
    <div class="flex gap-4 items-center">
        {% if is_authenticated %}
        <a href="/blogs/" class="font-semibold cursor-pointer hover:underline text-lg">Your Blogs</a>
        <a href="/blog/create/" class="bg-stone-800 hover:bg-stone-900 text-white px-3 pr-6 py-1 rounded-full text-sm font-thin flex gap-2 items-center">
            <i class="ri-add-circle-line text-2xl"></i> Create a blog
        </a>
        <i class="ri-account-circle-fill text-5xl cursor-pointer text-lime-700" onclick="toggleProfilePopup()"></i>
        {% else %}
        <h1 class="font-semibold cursor-pointer hover:underline" onclick="showPopup()">Sign In</h1>
        <button class="bg-lime-700 hover:bg-lime-900 text-white px-6 py-2 rounded-full text-sm font-semibold">Get started</button>
        {% endif %}
    </div>
</div>

{% endblock navbar %} 

{% block navscripts %}
    <script>
        function showPopup() {
            document.getElementById('signin-modal').classList.remove('hidden');
        }

        function closePopup() {
            document.getElementById('signin-modal').classList.add('hidden');
        }

        function toggleProfilePopup() {
            let popup = document.getElementById('popup-menu');
            console.log(popup, 'lkfk');
            
            popup.classList.toggle('hidden');
        }

        function signinSubmit() {
            var email = document.getElementById('email').value
            var password = document.getElementById('password').value
            console.log(email, password, 'pass')

            fetch('/signin/', {  // Replace with your actual login endpoint
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ email: email, password: password })
            })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(err => { throw err; });
                }
                response.json()})
            .then(data => {
                console.log(data, 'data')
                alert('login Successfull');
            })
            .catch(error => {
                console.error('Error:', error)
                alert(error.message)
            });
        }
    </script>
{% endblock navscripts %}
